/tentativa2/Interface_Braco/nbproject/private/
/tentativa2/Interface_Braco/build/
/tentativa2/Interface_Braco/dist/
/tentativa2/tentativa3/nbproject/private/
/tentativa2/tentativa3/build/
/tentativa2/tentativa3/dist/
/tentativa2/Interace_braco_robotico/dist/
/tentativa2/Interace_braco_robotico/build/
/tentativa2/Interace_braco_robotico/nbproject/private/